---
language: java
dist: xenial

jdk:
- openjdk8

notifications:
  email: true

branches:
  except:
  - gh-pages

cache:
  directories:
  - "$HOME/.m2"

env:
  global:
    - MVN_ARGS="--settings build/.travis.settings.xml"
    - BINTRAY_ORG=ibm-cloud-sdks
    - BINTRAY_REPO=platform-services-java-sdk

before_install:
- env | grep TRAVIS
- sudo apt-get update
- sudo apt-get install python
- nvm install 12
- npm install -g npm@6.x
- >-
      [ -z "${TRAVIS_TAG}" ] && [ "${TRAVIS_PULL_REQUEST}" == "false" ]
      && openssl aes-256-cbc -K $encrypted_3058bc69cb40_key -iv $encrypted_3058bc69cb40_iv -in ghost.env.enc -out ghost.env -d
      && openssl aes-256-cbc -K $encrypted_66f264007c0d_key -iv $encrypted_66f264007c0d_iv -in iam_access_groups.env.enc -out iam_access_groups.env -d
      && openssl aes-256-cbc -K $encrypted_94fa7fdf4df9_key -iv $encrypted_94fa7fdf4df9_iv -in global_catalog.env.enc -out global_catalog.env -d
      && openssl aes-256-cbc -K $encrypted_52c952caa7dd_key -iv $encrypted_52c952caa7dd_iv -in resource_controller.env.enc -out resource_controller.env -d
      && openssl aes-256-cbc -K $encrypted_a72454cfb42f_key -iv $encrypted_a72454cfb42f_iv -in iam_policy_management.env.enc -out iam_policy_management.env -d
      && openssl aes-256-cbc -K $encrypted_6eaa1fc94541_key -iv $encrypted_6eaa1fc94541_iv -in catalog_mgmt.env.enc -out catalog_mgmt.env -d
      && openssl aes-256-cbc -K $encrypted_dac53b985913_key -iv $encrypted_dac53b985913_iv -in case_management.env.enc -out case_management.env -d
      && openssl aes-256-cbc -K $encrypted_9b829ae06290_key -iv $encrypted_9b829ae06290_iv -in open_service_broker.env.enc -out open_service_broker.env -d
      || true

#      && openssl aes-256-cbc -K $encrypted_25d847003bcf_key -iv $encrypted_25d847003bcf_iv -in enterprise-management.env.enc -out enterprise-management.env -d
#      && openssl aes-256-cbc -K $encrypted_acd9ca9788e3_key -iv $encrypted_acd9ca9788e3_iv -in resource_manager.env.enc -out resource_manager.env -d

install:
- curl -s https://codecov.io/bash > $HOME/codecov-bash.sh && chmod +x $HOME/codecov-bash.sh


# For a tagged build, we'll set the maven artifact version #.
before_script:
- >-
      [ -n "${TRAVIS_TAG}" ]
      && mvn versions:set -DnewVersion=${TRAVIS_TAG} -DgenerateBackupPoms=false
      || true

script:
-  mvn clean verify -fae $MVN_ARGS

before_deploy:
- pip install --user bump2version
- npm install @semantic-release/changelog
- npm install @semantic-release/exec
- npm install @semantic-release/git
- npm install @semantic-release/github

deploy:
  # On master, run semrel to create a new tagged-release.
  - provider: script
    script: npx semantic-release
    skip_cleanup: true
    on:
      branch: master
  # For a tagged release, publish jars on bintray and sync to maven central.
  - provider: script
    script: 
    - >-
          mvn deploy $MVN_ARGS -DskipTests 
          && build/bintraySync.sh $BINTRAY_USER $BINTRAY_APIKEY $BINTRAY_ORG $BINTRAY_REPO $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      jdk: openjdk8
  # For a tagged release, publish javadocs to gh-pages.
  - provider: script
    script: ./build/publish-javadoc.sh
    skip_cleanup: true
    on:
      tags: true
      jdk: openjdk8
  # On master or for a tagged release, upload code coverage reports to codecov.io.
  - provider: script
    script: $HOME/codecov-bash.sh -s modules/coverage-reports/target/site/jacoco-aggregate -t $CODECOV_TOKEN
    skip_cleanup: true
    on:
      condition: $TRAVIS_BRANCH == master || -n "$TRAVIS_TAG"
      jdk: openjdk8
      
  
